<?xml version="1.0" encoding="utf-8"?>
<funnelweb xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <setting key="funnelweb.configuration.database.connection" value="Data Source=tcp:sql2k801.discountasp.net;Initial Catalog=SQL2008_252953_dreadnaught;User ID=SQL2008_252953_dreadnaught_user;Password=Ng646qam;" />
  <setting key="funnelweb.configuration.database.schema" value="ngdb" />
  <setting key="funnelweb.configuration.authentication.username" value="Nate" />
  <setting key="funnelweb.configuration.authentication.password" value="1q2w3e!Q@W#E" />
  <setting key="funnelweb.configuration.database.provider" value="sql" />
</funnelweb>